.modal{
    position: fixed;
    /* Bellow a simple way of making something full screen */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(255, 255, 255, .94);

    opacity: 0;
    visibility: hidden;

    transform: scale(1.2);
    
    transition: all .3s ease-out;

    z-index: 100;

    &__description{
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.65;
    }

    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
            
        cursor: pointer;

        font-size: 2rem;
        color: $mainBlue;

        transform: scaleX(1.2);
        transform-origin: 100% 0;

        transition: color .3s ease-out;

        &:hover{
            color: $mainOrange;
        }
    }

    &__inner{
        position: absolute;
        top: 50%;

        width: 100%;

        transform: translateY(-50%);
    }

    &--is-visible{
        opacity: 1;
        visibility: visible;

        transform: scale(1);
    }
}